/* Global Styles */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    padding-top: 50px; /* Height of the classification banner */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Dark background */
}

/* Site Banner Styles */
.site-banner {
    background-color: rgb(187, 25, 168); /* Color for classification */
    color: white;
    text-align: center;
    width: 100%;
    padding: 0.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays on top */
}

/* Content Box Styles */
.content-box {
    width: 70%;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 2rem;
}

/* Button Styles */
button {
    background-color: #007bff; /* Bootstrap primary color for example */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 80%;
    margin: 10px auto;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

/* Timer Styles */
#countdownTimer {
    color: #00bcd4; /* Font color */
    background-color: #333; /* Background color */
    font-size: 36px; /* Large font size */
    text-align: center; /* Center the text */
    padding: 20px;
    border: 5px solid red; /* Red border around the timer */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for some depth */
    width: 80%; /* Adjust width as needed */
    margin: 20px auto; /* Center the timer */
}

/* Loading Circle Animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-circle {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 3s linear infinite;
}


/* Backdrop Styles */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10002;
}

/* Popup Styles */
.popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 10003;
}

.popup button {
    margin-top: 20px;
    padding: 10px 20px;
}
